.carousel {
  overflow: hidden;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.carousel-picture {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  object-fit: cover;
}
.carousel-caption p {
  font-size: 1.2rem;
  color: white;
  text-shadow: 2px 2px 5px black;
}
